header{
  border: 1px solid black;
  text-align: center;
  content: "";
  display: block;
  clear: both;
  overflow: hidden;
  padding: 0 .5rem;


  *{
    display: inline-block;
  }
  .buttons-left {
    float: left;
    margin-top: 2rem;

  }
  .nav-right {
    float: right;
    margin-top: .5rem;
  }
  li {
    margin: 0 .5rem;
  }
  //login card
  .login {
    margin: 1rem 0;
    * {
      display: block;
    }

    button {
      margin: .5rem auto 0 auto;
    }
  }
}

//search card
.search-card {
  text-align: center;
  .search-child {
    border: 1px solid black;
    padding: 1rem;
    width: 50%;
    margin: 4rem auto;
    h2 {
      margin-top: 0;

    }
    input, button {
      display: block;
      margin: 1rem auto;
    }

  }
}
//band card
.band-card{
  overflow: hidden;
  height: 23rem;
  // display: inline-block;
  // width: 25%;
  // margin: 1rem;
  // padding: 1rem;
  .card-image {

    // width: 12.5rem;
    background: black;
    border: 1px solid black;
    min-height: 15rem;
    height: 15rem;
  }
}
