header{
  border: 1px solid black;
  text-align: center;
  content: "";
  display: block;
  clear: both;
  overflow: hidden;
  *{
    display: inline-block;
  }
  .buttons-left {
    float: left;
    margin-top: 2rem;

  }
  .nav-right {
    float: right;
    margin-top: 2rem;
  }
  li {
    margin: 0 .5rem;
  }
}
